In [8]:
import pandas as pd
import plotly.express as px
from dash import Dash, html, dcc, Input, Output
import plotly.graph_objects as go
# 原始数据清洗和结构化
import numpy as np

In [13]:
# 原始数据内容
content = """
22  24  21  23  21  22  19  21  17  20  17  20

20  22  19  21  19  21  17  20  15  19  15  18  
19  21  17  20  17  19  15  18  13  17  13  17  
18  20  17  20  16  18  14  17  13  16  12  17  
17  19  15  19  15  17  13  16  11  15  10  15  
15  18  14  17  13  16  11  14  9  14  9  14  
14  17  13  16  13  15  10  14  9  13  8  13  
13  16  11  15  11  14  9  12  7  11  7  11  
11  14  9  13  7  12  6  10  5  9  4  9  
"""

# 按行分割并过滤空行
lines = [line.strip() for line in content.split('\n') if line.strip()]

# 转换为二维整数列表
data = []
for line in lines:
    elements = line.split()
    data.append([int(e) for e in elements])

# 创建DataFrame
df = pd.DataFrame(data)

In [14]:
df

   0   1   2   3   4   5   6   7   8   9   10  11
0  22  24  21  23  21  22  19  21  17  20  17  20
1  20  22  19  21  19  21  17  20  15  19  15  18
2  19  21  17  20  17  19  15  18  13  17  13  17
3  18  20  17  20  16  18  14  17  13  16  12  17
4  17  19  15  19  15  17  13  16  11  15  10  15
5  15  18  14  17  13  16  11  14   9  14   9  14
6  14  17  13  16  13  15  10  14   9  13   8  13
7  13  16  11  15  11  14   9  12   7  11   7  11
8  11  14   9  13   7  12   6  10   5   9   4   9

In [23]:
data=pd.DataFrame(
    data=[
        [22, 24, 21, 23, 21, 22, 19, 21, 17, 20, 17, 20],
        [20, 22, 19, 21, 19, 21, 17, 20, 15, 19, 15, 18],
        [19, 21, 17, 20, 17, 19, 15, 18, 13, 17, 13, 17],
        [18, 20, 17, 20, 16, 18, 14, 17, 13, 16, 12, 17],
        [17, 19, 15, 19, 15, 17, 13, 16, 11, 15, 10, 15],
        [15, 18, 14, 17, 13, 16, 11, 14,  9, 14,  9, 14],
        [14, 17, 13, 16, 13, 15, 10, 14,  9, 13,  8, 13],
        [13, 16, 11, 15, 11, 14,  9, 12,  7, 11,  7, 11],
        [11, 14,  9, 13,  7, 12,  6, 10,  5,  9,  4,  9]
    ],
    index=[90,80,70,60,50,40,30,20,10],
    columns=["m_18-25","wm_18-25","m_26-35","wm_26-35","m_36-45","wm_36-45","m_46-55","wm_46-55","m_56-65","wm_56-65","m_over65","wm_over65"]
)
data.sort_index(inplace=True)
data

    0   1   2   3   4   5   6   7   8   9   10  11
10  11  14   9  13   7  12   6  10   5   9   4   9
20  13  16  11  15  11  14   9  12   7  11   7  11
30  14  17  13  16  13  15  10  14   9  13   8  13
40  15  18  14  17  13  16  11  14   9  14   9  14
50  17  19  15  19  15  17  13  16  11  15  10  15
60  18  20  17  20  16  18  14  17  13  16  12  17
70  19  21  17  20  17  19  15  18  13  17  13  17
80  20  22  19  21  19  21  17  20  15  19  15  18
90  22  24  21  23  21  22  19  21  17  20  17  20

In [11]:
data=np.array([[22, 20, 19, 18, 17, 15, 14, 13, 11],
       [24, 22, 21, 20, 19, 18, 17, 16, 14],
       [21, 19, 17, 17, 15, 14, 13, 11,  9],
       [23, 21, 20, 20, 19, 17, 16, 15, 13],
       [21, 19, 17, 16, 15, 13, 13, 11,  7],
       [22, 21, 19, 18, 17, 16, 15, 14, 12],
       [19, 17, 15, 14, 13, 11, 10,  9,  6],
       [21, 20, 18, 17, 16, 14, 14, 12, 10],
       [17, 15, 13, 13, 11,  9,  9,  7,  5],
       [20, 19, 17, 16, 15, 14, 13, 11,  9],
       [17, 15, 13, 12, 10,  9,  8,  7,  4],
       [20, 18, 17, 17, 15, 14, 13, 11,  9]])
pd.DataFrame(data)

     0   1   2   3   4   5   6   7   8
0   22  20  19  18  17  15  14  13  11
1   24  22  21  20  19  18  17  16  14
2   21  19  17  17  15  14  13  11   9
3   23  21  20  20  19  17  16  15  13
4   21  19  17  16  15  13  13  11   7
5   22  21  19  18  17  16  15  14  12
6   19  17  15  14  13  11  10   9   6
7   21  20  18  17  16  14  14  12  10
8   17  15  13  13  11   9   9   7   5
9   20  19  17  16  15  14  13  11   9
10  17  15  13  12  10   9   8   7   4
11  20  18  17  17  15  14  13  11   9